<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sealed Secrets Encryption</title>
    <link href="/static/styles.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<body>
    <div class="container">
        <h1>Sealed Secrets Encryption</h1>
        <small>Secrets are encrypted on a per-namespace, per-cluster basis. A secret encrypted for namespace A, can not be decrypted in namespace B. Same for the clusters.</small>
        <form id="encryptForm" style="margin-top:1rem">
            <input type="text" id="namespace" name="namespace" placeholder="Enter namespace" required>
            <textarea id="text" name="text" placeholder="Enter secret to encrypt" required></textarea>
            <div class="button-group">
                <button type="button" id="rawSecretButton" class="active">Raw Secret</button>
                <button type="button" id="kubernetesSecretButton">Kubernetes Secret</button>
            </div>
            <button type="submit">Encrypt</button>
        </form>
        <div id="resultContainer" style="display:none;">
            <h2>Result:</h2>
            <button id="copyButton">Copy to Clipboard</button>
            <pre id="result"></pre>
        </div>
    </div>
    <script>
        document.getElementById('rawSecretButton').addEventListener('click', () => {
            document.getElementById('rawSecretButton').classList.add('active');
            document.getElementById('kubernetesSecretButton').classList.remove('active');
        });

        document.getElementById('kubernetesSecretButton').addEventListener('click', () => {
            document.getElementById('kubernetesSecretButton').classList.add('active');
            document.getElementById('rawSecretButton').classList.remove('active');
        });

        document.getElementById('encryptForm').addEventListener('submit', async (e) => {
            e.preventDefault();
            const formData = new FormData(e.target);
            formData.append('kubernetesSecret', document.getElementById('kubernetesSecretButton').classList.contains('active'));
            const response = await fetch('/encrypt', {
                method: 'POST',
                body: formData
            });
            const data = await response.json();
            try {
                const parsedResult = jsyaml.load(data.result); // Parse YAML
                const prettyYaml = jsyaml.dump(parsedResult, { indent: 2 }); // Stringify with indentation
                document.getElementById('result').textContent = prettyYaml;
            } catch (err) {
                document.getElementById('result').textContent = data.result;
            }
            document.getElementById('resultContainer').style.display = 'block';
        });

        document.getElementById('copyButton').addEventListener('click', () => {
            const resultText = document.getElementById('result').textContent;
            navigator.clipboard.writeText(resultText).then(() => {
                alert('Copied to clipboard!');
            }).catch(err => {
                console.error('Failed to copy: ', err);
            });
        });
    </script>
</body>
</html>